@model HastaDoktorInsertViewDto


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoktorUyelik</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MhY7Xt+q7h1/LaVm12JXpTrxMJ1y+A1d5EnA91cxA4yeKJ4A9htqOzH5L+co2z1U" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Psikiyatrik Tedavi Takip Sistemi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Psikiyatrik Tedavi Takip Sistemi</h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Giriş Yapın</h4>
                        <ul class="nav nav-tabs nav-justified mb-4" id="loginTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="patient-tab" data-bs-toggle="tab" href="#patient" role="tab" aria-controls="patient" aria-selected="true">Hasta Girişi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="doctor-tab" data-bs-toggle="tab" href="#doctor" role="tab" aria-controls="doctor" aria-selected="false">Doktor Girişi</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="loginTabsContent">

                            <div class="tab-pane fade show active" id="patient" role="tabpanel" aria-labelledby="patient-tab">

                                <form method="post" action="/Home/HastaUyelik">
                                    <input type="hidden" asp-for="hasta.CreatedDate" value="@DateTime.Now" />
                                    <div class="form-group">
                                        <label asp-for="hasta.Name">İsim</label>
                                        <input asp-for="hasta.Name" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="hasta.EPosta">E-posta</label>
                                        <input asp-for="hasta.EPosta" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="hasta.Sifre">Şifre</label>
                                        <input type="password" class="form-control" asp-for="hasta.Sifre" required>
                                    </div>
                                    <br />
                                    <button class="btn btn-primary btn-block">Üye Ol</button>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="doctor" role="tabpanel" aria-labelledby="doctor-tab">
                                
                                <form method="post" action="/Home/DoktorUyelik">
                                    <input type="hidden" asp-for="doktor.CreatedDate" value="@DateTime.Now" />
                                    <div class="form-group">
                                        <label asp-for="doktor.Name">İsim</label>
                                        <input asp-for="doktor.Name" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="doktor.EPosta">E-posta</label>
                                        <input asp-for="doktor.EPosta" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="doktor.Sifre">Şifre</label>
                                        <input type="password" class="form-control" asp-for="doktor.Sifre" required>
                                    </div>
                                    <br />
                                    <button class="btn btn-primary btn-block">Üye Ol</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkfu/XK0NfX7FfZfjAN9tS+MHR49u5RR9/pbzh/y" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-lpyKZP0f4K6f6I7i86e6ImDJ1hkgLUrcI1lUmBgLsZO6B5OjDhK4sO8D5N+J7jD4" crossorigin="anonymous"></script>
</body>
</html>
