<div class="col-md-3">
    <div class="list-group">
        <a asp-controller="HastaIslemleri" asp-action="HastaIslemleriIndex"  class="list-group-item list-group-item-action">İlaç Ekle</a>
        <a asp-controller="HastaIslemleri" asp-action="KullandigiIlaclarById"  class="list-group-item list-group-item-action">Hastanın Kullandığı İlaçlar</a>
        <a asp-controller="HastaIslemleri" asp-action="YapilanTestler"  class="list-group-item list-group-item-action">Hastanın Yaptığı Beck Anksiyete Ölçekleri</a>
        <a asp-controller="HastaIslemleri" asp-action="BeckDepresyonTestler"  class="list-group-item list-group-item-action">Hastanın Yaptığı Beck Depresyon Ölçekleri</a>
        <a asp-controller="HastaIslemleri" asp-action="BarnesAkatiziTesleri"  class="list-group-item list-group-item-action">Hastanın Yaptığı Barnes Akatizi Ölçekleri</a>

    </div>
</div>