


@Html.Partial("hastaTestNavParView")

<div class="container mt-5">
    <div class="row">
        @Html.Partial("HastaTestSolMenu")

        @Html.Partial("HastaAkatiziKayitTablo")
        
    </div>
</div>
